name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - .gitignore

jobs:
  query:
    runs-on: ubuntu-latest
    outputs:
      boards: ${{ steps.query.outputs.boards }}
      distros: ${{ steps.query.outputs.distros }}
      flavors: ${{ steps.query.outputs.flavors }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Query available board configs
        id: query
        run: |
          echo "boards=$(./rbuild --json boards)" >> $GITHUB_OUTPUT
          echo "distros=$(./rbuild --json distros)" >> $GITHUB_OUTPUT
          echo "flavors=$(./rbuild --json flavors)" >> $GITHUB_OUTPUT

  build:
    needs: query
    runs-on: ubuntu-latest
    strategy:
      matrix:
        boards: ${{ fromJSON(needs.query.outputs.boards) }}
        distros: ${{ fromJSON(needs.query.outputs.distros )}}
        flavors: [ kde ]
    steps:
      - name: Build
        uses: radxa-repo/rbuild@main
        with:
          board: ${{ matrix.boards }}
          distro: ${{ matrix.distros }}
          flavor: ${{ matrix.flavors }}
          artifacts: true
